langgraph
langchain
langchain-community
langchain-google-genai
google-generativeai>=0.8.0
python-dotenv
pydantic
chromadb
streamlit
yfinance>=0.2.40
alpha_vantage
pandas
tenacity
requests
pinecone
langchain-pinecone
pypdf
langchain-huggingface
sentence-transformers
duckduckgo-search
